.task-lists-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.task-list {
  flex: 1;
  background-color: var(--task-list-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-list-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.task-list.completed {
  background-color: #e0f7fa;
}

.task-item-wrapper {
  margin-bottom: 10px;
}

.task-placeholder {
  height: 50px;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-item {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.dragging {
  background-color: #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-title {
  cursor: pointer;
  text-decoration: none;
}

.task-title.completed {
  text-decoration: line-through;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-button:hover {
  background-color: #e60000;
  transform: scale(1.05);
}
