.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.task-item.dragging {
  background-color: #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  cursor: grabbing;
}

.task-item:active {
  cursor: grabbing;
}

.task-title {
  flex: 1;
  cursor: pointer;
}

.task-title.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}
