.App {
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #333;
  color: white;
}
